.markdown {
  font-family: Helvetica, arial, sans-serif!important;
  font-size: 15px!important;
  font: 13px Helvetica, arial, freesans, clean, sans-serif;
  line-height: 1.7!important;
  padding-top: 10px;
  /*background-color: white;*/
  /*padding: 30px;*/
  color: #333333!important;
  font-family: Helvetica, arial, sans-serif!important;
  /*border: 1px solid #CACACA;*/
}

.markdown > *:first-child {
  margin-top: 0 !important; }
.markdown > *:last-child {
  margin-bottom: 0 !important; }

.markdown a {
  color: #4183C4!important; }
.markdown a.absent {
  color: #cc0000!important; }
.markdown a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; }
.markdown a:hover,.markdown a:active{
  color: #2a6496!important;
  text-decoration: underline!important;
}
.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
  margin: 1em 0 15px;
  padding: 0;
  font-weight: bold!important;
  font-family: Helvetica, arial, freesans, clean, sans-serif!important;
  line-height: 1.7!important;
  cursor: text;
  position: relative;
  color: #333333!important;
}

.markdown h1:hover a.anchor, .markdown h2:hover a.anchor, .markdown h3:hover a.anchor, .markdown h4:hover a.anchor, .markdown h5:hover a.anchor, .markdown h6:hover a.anchor {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA09pVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoMTMuMCAyMDEyMDMwNS5tLjQxNSAyMDEyLzAzLzA1OjIxOjAwOjAwKSAgKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OUM2NjlDQjI4ODBGMTFFMTg1ODlEODNERDJBRjUwQTQiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OUM2NjlDQjM4ODBGMTFFMTg1ODlEODNERDJBRjUwQTQiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo5QzY2OUNCMDg4MEYxMUUxODU4OUQ4M0REMkFGNTBBNCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo5QzY2OUNCMTg4MEYxMUUxODU4OUQ4M0REMkFGNTBBNCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PsQhXeAAAABfSURBVHjaYvz//z8DJYCRUgMYQAbAMBQIAvEqkBQWXI6sHqwHiwG70TTBxGaiWwjCTGgOUgJiF1J8wMRAIUA34B4Q76HUBelAfJYSA0CuMIEaRP8wGIkGMA54bgQIMACAmkXJi0hKJQAAAABJRU5ErkJggg==) no-repeat 10px center;
  text-decoration: none; }

.markdown h1 tt, .markdown h1 code {
  font-size: inherit; }

.markdown h2 tt, .markdown h2 code {
  font-size: inherit; }

.markdown h3 tt, .markdown h3 code {
  font-size: inherit; }

.markdown h4 tt, .markdown h4 code {
  font-size: inherit; }

.markdown h5 tt, .markdown h5 code {
  font-size: inherit; }

.markdown h6 tt, .markdown h6 code {
  font-size: inherit; }

.markdown h1 {
  font-size: 2.5em;
  border-bottom: 1px solid #ddd;
   }

.markdown h2 {
  font-size: 2em!important;
  border-bottom: 1px solid #cccccc;
  color: black; }

.markdown h3 {
  font-size: 18px; }

.markdown h4 {
  font-size: 16px; }

.markdown h5 {
  font-size: 14px; }

.markdown h6 {
  color: #777777;
  font-size: 14px; }

.markdown p, .markdown blockquote, .markdown ul, .markdown ol, .markdown dl, .markdown li, .markdown table, .markdown pre:not(.prettyprint )  {
  margin: 15px 0; }
.markdown ul ul, .markdown ol ol{
  margin: 0; }
.markdown hr {
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAECAYAAACtBE5DAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OENDRjNBN0E2NTZBMTFFMEI3QjRBODM4NzJDMjlGNDgiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OENDRjNBN0I2NTZBMTFFMEI3QjRBODM4NzJDMjlGNDgiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo4Q0NGM0E3ODY1NkExMUUwQjdCNEE4Mzg3MkMyOUY0OCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo4Q0NGM0E3OTY1NkExMUUwQjdCNEE4Mzg3MkMyOUY0OCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PqqezsUAAAAfSURBVHjaYmRABcYwBiM2QSA4y4hNEKYDQxAEAAIMAHNGAzhkPOlYAAAAAElFTkSuQmCC) repeat-x 0 0;
  border: 0 none;
  color: #cccccc;
  height: 4px;
  padding: 0;
}

.markdown > h2:first-child {
  margin-top: 0;
  padding-top: 0; }
.markdown > h1:first-child {
  margin-top: 0;
  padding-top: 0; }
.markdown > h1:first-child + h2 {
  margin-top: 0;
  padding-top: 0; }
.markdown > h3:first-child, .markdown > h4:first-child, .markdown > h5:first-child, .markdown > h6:first-child {
  margin-top: 0;
  padding-top: 0; }

.markdown a:first-child h1, .markdown a:first-child h2, .markdown a:first-child h3, .markdown a:first-child h4, .markdown a:first-child h5, .markdown a:first-child h6 {
  margin-top: 0;
  padding-top: 0; }

.markdown h1 p, .markdown h2 p, .markdown h3 p, .markdown h4 p, .markdown h5 p, .markdown h6 p {
  margin-top: 0; }

.markdown li p.first {
  display: inline-block; }
.markdown li {
  margin: 0; }
.markdown ul, .markdown ol {
  padding-left: 30px; }

.markdown ul :first-child, .markdown ol :first-child {
  margin-top: 0; }

.markdown dl {
  padding: 0; }
.markdown dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px; }
.markdown dl dt:first-child {
  padding: 0; }
.markdown dl dt > :first-child {
  margin-top: 0; }
.markdown dl dt > :last-child {
  margin-bottom: 0; }
.markdown dl dd {
  margin: 0 0 15px;
  padding: 0 15px; }
.markdown dl dd > :first-child {
  margin-top: 0; }
.markdown dl dd > :last-child {
  margin-bottom: 0; }

.markdown blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777; }
.markdown blockquote > :first-child {
  margin-top: 0; }
.markdown blockquote > :last-child {
  margin-bottom: 0; }

.markdown table {
  padding: 0;border-collapse: collapse; }
.markdown table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0; }
.markdown table tr:nth-child(2n) td{
  background-color: #f8f8f8; }
.markdown table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  margin: 0;
  padding: 6px 13px; }
.markdown table tr td {
  border: 1px solid #cccccc;
  margin: 0;
  padding: 6px 13px; }
.markdown table tr th :first-child, .markdown table tr td :first-child {
  margin-top: 0; }
.markdown table tr th :last-child, .markdown table tr td :last-child {
  margin-bottom: 0; }

.markdown img {
  max-width: 100%; }

.markdown span.frame {
  display: block;
  overflow: hidden; }
.markdown span.frame > span {
  border: 1px solid #dddddd;
  display: block;
  float: left;
  overflow: hidden;
  margin: 13px 0 0;
  padding: 7px;
  width: auto; }
.markdown span.frame span img {
  display: block;
  float: left; }
.markdown span.frame span span {
  clear: both;
  color: #333333;
  display: block;
  padding: 5px 0 0; }
.markdown span.align-center {
  display: block;
  overflow: hidden;
  clear: both; }
.markdown span.align-center > span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: center; }
.markdown span.align-center span img {
  margin: 0 auto;
  text-align: center; }
.markdown span.align-right {
  display: block;
  overflow: hidden;
  clear: both; }
.markdown span.align-right > span {
  display: block;
  overflow: hidden;
  margin: 13px 0 0;
  text-align: right; }
.markdown span.align-right span img {
  margin: 0;
  text-align: right; }
.markdown span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left; }
.markdown span.float-left span {
  margin: 13px 0 0; }
.markdown span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right; }
.markdown span.float-right > span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: right; }

.markdown code, .markdown tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px; }

.markdown pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent; }

.markdown .highlight pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }

.markdown pre:not(.prettyprint ) {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; 
  word-break: inherit;
  word-wrap: inherit;}
.markdown pre code, .markdown pre tt {
  background-color: transparent;
  border: none; }

.markdown sup {
  font-size: 0.83em;
  vertical-align: super;
  line-height: 0;
}
.markdown * {
  -webkit-print-color-adjust: exact;
}
.markdown h1, h2, h3, h4, h5, h6 {
  text-shadow: none;
}
.markdown input[type=checkbox]{
  margin-top: 6px;
}
@media screen and (min-width: 914px) {
  .markdown {
    margin:0 auto;
  }
}
@media screen and (max-width: 913px){
  .markdown code,.markdown pre{
    display: block!important;
  }
  .syntaxhighlighter code{
    display: inline-block!important;
  }
  .markdown code{
    white-space: normal;
    white-space: nowrap;
  }
}
@media screen and (max-width: 713px){
  .markdown {
    padding:0px;
  }
  .markdown>p>code{
    overflow-x: auto;
  }
}
@media print {
  .markdown table, .markdown pre {
    page-break-inside: avoid;
  }
  .markdown pre {
    word-wrap: break-word;
  }
}