<div class="container">
	<div class="inner text-center">
		Coqoo was made by Kaz form <a href="http://www.geeks-dev.com" target="_blank">Geeks-dev</a>. Respect to <a href="http://dev7studios.com">Dev7studios</a>.
	</div>
</div>