{% extends 'index.html.twig' %}
{% block container %}
<article class="home">
	<div class="col-sm-4 text-center">
		<i class="fa fa-heart fa-5x"></i>
		<h2>理想</h2>
		<p>あなたはMarkdown使いですか？Coqooをセットアップした後はもう他のCMSには戻れません。<br />CoqooはMarkdown使いにとって理想的な運用ができるCMSなのです。</p>
	</div><!-- /.col-sm-4 -->
	<div class="col-sm-4 text-center">
		<i class="fa fa-rocket fa-5x"></i>
		<h2>自在</h2>
		<p>Twigの拡張性をそのまま生かし、コーポレートサイトやブログなど柔軟な利用が可能です。<br />オリジナルのテーマ作成も簡単です。ご安心ください。Bootstrap3をベースにしたテーマを同梱しています。</p>
	</div><!-- /.col-sm-4 -->
	<div class="col-sm-4 text-center">
		<i class="fa fa-tachometer fa-5x"></i>
		<h2>拡張</h2>
		<p>Picoはそのシンプルさ故に内包機能が不十分でした。<br />CoqooはPicoの軽量・高速性を維持しながら、最低限のプラグインを本体に取り込みそれを拡張。<br />さらに多機能に進化しています。</p>
	</div><!-- /.col-sm-4 -->
	<div class="clearfix"></div>

	<hr />
	<div class="col-sm-10 col-sm-offset-1">
		<div class="row featurette">
		    <div class="col-sm-7 col-xs-12">
				<h2 class="featurette-heading">データベース不要。<span class="text-muted">瞬速スタート。</span></h2>
				<p class="lead">このCMSはデータベースを使用しません。管理者ページもありません。やることはファイルをアップロードするだけ。誰でも簡単に始められます。</p>
		    </div>
		    <div class="col-sm-5 hidden-xs text-center">
				<i class="fa fa-file" style="font-size: 230px;"></i>
		    </div>
		</div>
		<hr />
		<div class="row featurette">
		    <div class="col-sm-5 hidden-xs text-center">
				<i class="fa fa-cloud" style="font-size: 230px;"></i>
		    </div>
		    <div class="col-sm-7 col-xs-12">
				<h2 class="featurette-heading">クラウドとの連携。<span class="text-muted">さらに便利に。</span></h2>
				<p class="lead">DropboxやOwnCloudを使えば飛躍的に記事の更新が楽になります。最も素早く記事を更新できるCMSです。</p>
		    </div>
		</div>
		<hr />
		<div class="row featurette">
		    <div class="col-sm-7 col-xs-12">
				<h2 class="featurette-heading">コードの挿入。<span class="text-muted">開発者にも優しい。</span></h2>
				<p class="lead">マークダウンファイル内だけでコードの挿入、シンタックスハイライトが可能です。</p>
		    </div>
		    <div class="col-sm-5 hidden-xs text-center">
				<i class="fa fa-code" style="font-size: 230px;"></i>
		    </div>
		</div>
	</div>
</article>
{% endblock %}